@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey-bg: #f8f8f8;
    --color-blue: #003da5;
    --color-blue-hover: #002760;
    --color-blue-light: #0077ba;
    --color-grey: #626262;
    --color-grey-2: #d1d1d1;
    --color-grey-dark: #626262;
    --color-yellow: #efba00;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
}

*,
*::before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 80px;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
li {
    cursor: pointer;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 30px 0px 0px 0px;
    transition: all 0.2s ease;
}

header.sticy {
    padding: 15px 0;
    background-color: var(--color-blue);
    box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.2);
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 30px;
}

.title {
    font-size: 32px;
    font-weight: var(--font-bold);
    line-height: 40px;
}

/* ВВЕРХНЕЕ МЕНЮ */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar__logo {
    width: 200px;
    /* height: 50px; */
    fill: var(--color-white);
    transform: scale(1, 1);
    transition: color, transform 0.2s ease;
}

.navbar__logo:hover {
    fill: var(--color-blue);
}

.navbar__logo:active {
    transform: scale(0.9, 0.9);
}

.navbar__ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar__li {
    display: flex;
    position: relative;
}

.navbar__link {
    color: var(--color-white);
    font-size: 16px;
    font-weight: var(--font-regular);
    letter-spacing: 0.4px;
    transition: border-bottom 0.2s ease;
    padding: 0 2px;
}

.navbar__link::after {
    content: '';
    position: absolute;
    background: var(--color-white);
    width: 0;
    height: 1px;
    left: 0;
    bottom: -8px;
    transition: width 0.2s ease;
}

.navbar__link:hover::after {
    width: 100%;
}

.navbar__link-button {
    color: var(--color-blue);
    background: var(--color-white);
    padding: 10px 20px;
    font-weight: var(--font-semibold);
    border-radius: 5px;
    transition: 0.2s ease;
}

.navbar__link-button:hover {
    color: var(--color-white);
    background: var(--color-blue-hover);
}

.navbar__link-button:active {
    transform: scale(0.9, 0.9);
}

.navbar__burger-icon {
    display: none;
    width: 30px;
    height: 30px;
    fill: var(--color-white);
    cursor: pointer;
    transition: 0.2s ease;
    &:active {
        transform: scale(0.9, 0.9);
    }
}

@media (max-width: 1060px) {
    .navbar__ul {
        position: fixed;
        top: 0;
        right: -100%;
        flex-direction: column;
        background-color: var(--color-blue);
        width: 100%;
        height: 100vh;
        padding: 30px;
        transition: 0.2s ease;
        align-items: start;
        text-transform: uppercase;
        font-weight: var(--font-bold);
    }

    .navbar__ul.openNav {
        right: 0;
    }

    .navbar__link {
        font-weight: var(--font-semibold);
        gap: 30px;
    }

    .navbar__burger-icon {
        display: flex;
    }

    .navbar__burger-icon-close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 25px;
        height: 25px;
        fill: var(--color-white);
        cursor: pointer;
        transition: 0.2s ease;
        &:active {
            transform: scale(0.9, 0.9);
        }
    }
}

/* ГЛАВНАЯ */
#home {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url('../img/BG_intro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home__block {
    max-width: 600px;
}

.home__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: relative;
}

.home__block-logo {
    width: 100px;
    padding-bottom: 30px;
}

.home__block-title {
    max-width: 400px;
    font-size: 50px;
    font-weight: var(--font-bold);
    color: var(--color-white);
    padding-bottom: 15px;
}

.home__block-description {
    font-size: 32px;
    font-weight: var(--font-bold);
    color: var(--color-white);
    padding-bottom: 50px;
}

.home__block-button {
    font-size: 16px;
    font-weight: var(--font-semibold);
    color: var(--color-blue);
    background: var(--color-white);
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}

.home__block-button:hover {
    color: var(--color-white);
    background: var(--color-blue-hover);
}

.home__block-button:active {
    transform: scale(0.9, 0.9);
}

.home__form {
    max-width: 400px;
    padding: 30px 45px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    line-height: 25px;
    /* transform: scale(0.9, 0.9); */
}

.home__form-title {
    font-size: 32px;
    font-weight: var(--font-bold);
    line-height: 45px;
    padding-bottom: 25px;
    color: var(--color-blue);
}

.home__form-text {
    font-size: 16px;
    font-weight: var(--font-regular);
    color: var(--color-grey);
    padding-bottom: 25px;
}

.home__form-typetext {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-weight: var(--font-regular);
}

.home__form-button {
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: var(--color-blue);
    color: var(--color-white);
    transition: 0.2s ease;
}

.home__form-button:hover {
    background: var(--color-blue-hover);
}

.home__form-button:active {
    transform: scale(0.9, 0.9);
}

@media (max-width: 1060px) {
    .home__form {
        display: none;
    }
}

@media (max-width: 450px) {
    #home {
        background-image: url('../img/BG_intro_2.png');
    }

    .home__block-logo {
        padding-bottom: 15px;
    }

    .home__block-title {
        font-size: 40px;
    }

    .home__block-description {
        font-size: 24px;
    }
}

/* О НАС */
#about {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-blue);
    font-size: 16px;
    font-weight: var(--font-regular);
    color: var(--color-white);
    letter-spacing: 0.4px;
    line-height: 25px;
}

.about__content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 70px 0;
}

.about__title {
    padding-bottom: 40px;
}

.about__button {
    margin-top: 40px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    color: var(--color-blue);
    background-color: var(--color-white);
    font-size: 16px;
    font-weight: var(--font-semibold);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    fill: var(--color-blue);
}

.about__button:hover {
    color: var(--color-white);
    fill: var(--color-white);
    background-color: var(--color-blue-hover);
    transition: 0.2s ease;
}

.about__button:active {
    transform: scale(0.9, 0.9);
}

/* ПРЕИМУЩЕСТВА */

.advantages__content {
    display: flex;
    flex-direction: column;
    padding: 70px 0px;
    row-gap: 70px;
    line-height: 25px;
}

.advantages__bg {
    background-color: var(--color-grey);
}

.advantages__title {
    padding-bottom: 40px;
    color: var(--color-blue);
}

.advantages__description {
    padding-bottom: 50px;
    color: var(--color-grey);
    font-weight: var(--font-regular);
}

.advantages__types {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}

.advantages__types-pt {
    padding-top: 20px;
}

.advantages__type {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.advantages__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    width: 100%;
}

.advantages__minitext {
    display: flex;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    color: var(--color-grey);
}

@media (max-width: 768px) {
    .advantages__types {
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }

    .advantages__title {
        text-align: center;
    }
}

@media (max-width: 375px) {
    .advantages__types {
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }
}

/* ВАРИАНТЫ ПРИОБРЕТЕНИЯ */
.purchase {
    background-color: var(--color-grey-bg);
    line-height: 25px;
}

.purchase__content {
    padding: 70px 0;
}

.purchase__title {
    color: var(--color-blue);
    font-size: 32px;
    font-weight: var(--font-bold);
    padding-bottom: 50px;
}

.purchase__types {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.purchase__type-icon {
    display: flex;
    justify-content: center;
    min-width: 100px;
    height: 100px;
}

.purchase__type-title {
    padding-top: 20px;
}

.purchase__type-title-1 {
    text-align: center;
    font-size: 32px;
    font-weight: var(--font-bold);
    color: var(--color-grey);
    line-height: 30px;
    padding-bottom: 15px;
}

.purchase__type-title-2 {
    text-align: center;
    font-size: 16px;
    font-weight: var(--font-medium);
    color: var(--color-grey);
    line-height: 30px;
}

@media (max-width: 1024px) {
    .purchase__types {
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }

    .purchase__title {
        text-align: center;
    }
}

.layout__title {
    padding-bottom: 40px;
    color: var(--color-blue);
}

@media (max-width: 768px) {
    .layout__title {
        text-align: center;
    }
}

.layout__content {
    position: relative;
    width: 100%;
    padding: 70px 0;
}

.card__container {
    padding-block: 5rem;
}

.card__content {
    border-radius: 10px;
    overflow: hidden;
}

.card__article {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    background: var(--color-blue);
}

.card__image {
    position: relative;
}

.card__image img {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.card__data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    padding: 30px 50px;
}

.card__img {
    width: 180px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.card__shadow {
    width: 200px;
    height: 200px;
    background-color: var(--first-color-alt);
    border-radius: 50%;
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    filter: blur(45px);
}

.card__name {
    font-size: 16px;
    font-weight: var(--font-bold);
    color: var(--color-white);
    text-transform: uppercase;
    line-height: 30px;
    /* text-align: center; */
}

.card__description {
    color: var(--color-white);
    font-weight: var(--font-regular);
    line-height: 25px;
    text-align: start;
}

.card__button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    font-weight: 600;
}

.card__price {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--color-white);
}

.card__price p {
    font-size: 16px;
    font-weight: var(--font-medium);
}

.card__price span {
    font-size: 28px;
    font-weight: var(--font-semibold);
}

table {
    font-size: 16px;
}

td:not(:last-child) {
    padding-right: 10px;
}

th {
    text-align: start;
}

@media (max-width: 450px) {
    table {
        font-size: 14px;
    }
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: '';
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    width: initial;
    height: initial;
    font-size: 40px;
    display: block;
    transition: 0.2s ease;
    color: #000000;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev:active {
    transform: scale(0.8, 0.8);
}

.swiper-button-next:active {
    transform: scale(0.8, 0.8);
}

/* КОНТАКТЫ */
.contacts__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px;
    font-size: 16px;
    line-height: 25px;
    padding: 70px 0;
}

.contacts__form {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contacts__form-text {
    font-size: 16px;
    font-weight: var(--font-regular);
    color: var(--color-grey);
    margin-bottom: 20px;
}

.contacts__form-btn {
    width: fit-content;
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-blue);
    transition: 0.2s ease;
    &:hover {
        background-color: var(--color-blue-hover);
    }
    &:active {
        transform: scale(0.9, 0.9);
    }
}

.contacts__form input {
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    outline: 1px solid var(--color-grey-2);
}

.contacts__phones {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.contacts__phones a {
    color: var(--color-grey-dark);
    font-size: 32px;
    font-weight: 700;
    width: fit-content;
}

.contacts__phones-adress {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts__phones-adress a {
    display: flex;
    gap: 10px;
    align-items: center;
    fill: var(--color-grey);
    font-size: 16px;
    font-weight: var(--font-regular);
    width: fit-content;
    transition: 0.2s ease;
    &:hover {
        fill: var(--color-blue);
        color: var(--color-blue);
    }
}

.contacts__phones-adress svg {
    width: 15px;
    /* fill: var(--color-grey); */
}

.contacts__phones-links {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 40px;
}

.contacts__phones-links a {
    transition: 0.2s ease;
    &:hover {
        color: var(--color-blue);
    }
}

@media (max-width: 360px) {
    .contacts__phones-links a {
        font-size: 26px;
    }
}

.contacts__form-title {
    color: var(--color-blue);
    padding-bottom: 40px;
    width: 100%;
}

/* ПОРТФОЛИО */
#portfolio {
    padding: 70px 0;
    background-color: var(--color-grey-bg);
}

.portfolio__title {
    padding-bottom: 40px;
    color: var(--color-blue);
}

.image__container {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.image {
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline-offset: 1rem;
    transition: all 0.3s;
}

.image:hover {
    transform: scale(1.05) translateY(-0.5rem);
    z-index: 20;
}

.image img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Popup */
.popup__image-container {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup__image {
    width: 80%;
}

.popup__image img {
    width: 100%;
}

.popup__close {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
    transition: all 0.3s;
}

.popup__close:hover {
    transform: scale(0.8);
}

@media (max-width: 600px) {
    .popup__image {
        width: 30rem;
    }
}

/* КАРТА */
.map-container {
    width: 100%;
    height: 600px; /* Установите высоту по вашему усмотрению */
    border: 1px solid #ccc; /* Граница для отделения карты от остального контента */
}

/* ПОДВАЛ */
footer {
    background-color: var(--color-blue);
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px;
    padding: 70px 0;
}

.footer__block {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.footer__block img {
    fill: var(--color-white);
}

.footer__block-social-title {
    color: var(--color-white);
    font-size: 16px;
    font-weight: var(--font-regular);
}

.footer__block-a {
    position: relative;
    color: var(--color-white);
}

.footer__block-a-icon {
    width: 11px;
    height: 11px;
    fill: var(--color-white);
    display: flex;
}

.footer__block-a-flex {
    display: flex;
    align-items: center;
    gap: 7px;
}

.footer__block-a::after {
    content: '';
    position: absolute;
    background: var(--color-white);
    width: 0;
    height: 1px;
    left: 0;
    bottom: -5px;
    transition: width 0.2s ease;
}

.footer__block-a:hover::after {
    width: 100%;
}

.footer__block-social {
    display: flex;
    gap: 22px;
}

.footer__block-social-link {
    fill: var(--color-white);
    width: 30px;
    height: 30px;
    transition: 0.2s ease;
}

.footer__block-social-link:hover {
    fill: var(--color-blue-hover);
}

.footer__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 12px;
    font-weight: var(--font-regular);
    color: var(--color-white);
    padding-bottom: 30px;
    letter-spacing: 0.5px;
    line-height: 25px;
    gap: 30px;
}

.footer__uu-link {
    color: var(--color-white);
    transition: color 0.2s ease;
}

.footer__uu-link:hover {
    color: var(--color-blue-hover);
}

.mobile-menu {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: -100%;
    background-color: var(--color-blue);
    /* padding: 10px; */
}

.mobile-menu.open {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-menu-ul li a {
    color: var(--color-white);
}

.mobile-menu-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
}

.mobile-menu-ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 30px 0 30px;
}

.mobile-menu-ul li a {
    font-size: 24px;
    font-weight: var(--font-semibold);
    color: var(--color-white);
    transition: 0.2s ease;
    &:hover {
        color: var(--color-blue-hover);
    }
}

.mobile-menu-bottom {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 30px 30px 30px;
}

.mobile-menu-phones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mobile-menu-phones a {
    font-size: 24px;
    font-weight: var(--font-semibold);
    color: var(--color-white);
    transition: 0.2s ease;
    &:hover {
        color: var(--color-blue-hover);
    }
}

.mobile-menu-adress {
    display: flex;
    gap: 10px;
    line-height: 25px;
}

.mobile-menu-adress a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    fill: var(--color-white);
    transition: 0.2s ease;
    &:hover {
        color: var(--color-blue-hover);
        fill: var(--color-blue-hover);
    }
}

.mobile-menu-adress a svg {
    width: 20px;
    height: 20px;
}

.mobile-menu-mail {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mobile-menu-mail a {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: var(--color-white);
    fill: var(--color-white);
    transition: 0.2s ease;
    &:hover {
        color: var(--color-blue-hover);
        fill: var(--color-blue-hover);
    }
}

.mobile-menu-mail a svg {
    width: 20px;
    height: 20px;
}
